.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  padding: 5px 16px;
  margin: 4px 8px;
  font-size: 1.1rem;
}
input {
  margin: 15px;
  padding: 4px 8px;
  width: 60%;
  font-size: 1.2rem;
}
.operators {
  background-color: gray;
  color: white;
  border: none;
}
.red,
.green {
  background-color: red;
  color: white;
  font-weight: 400;
  border: none;
}
.green {
  background-color: green;
  width: 50px;
}
